.button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 20px;
  opacity: 0.7;
  transition: opacity 1s;
  background-color: #488C18;
  color: #F2CF63;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    filter: grayscale(100%);
    opacity: 0.6;
    cursor: not-allowed;
  }
}
