.button {
  border: none;
  border-radius: 50%;
  max-width: 100px;
  cursor: pointer;
  user-select: none;
  padding: 0;
  transition: outline-width 0.3s;

  &:hover {
    outline: #F2AC57 4px solid;
  }

  &:disabled {
    cursor: default;

    &:hover {
      outline: none;
    }
  }
}

.img {
  border-radius: 50%;
  object-fit: contain;
}
