#app {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 45px 30px;
  background-color: #254159;
  color: #F2F0D5;
}

.app__title {
  font-size: 35px;
  letter-spacing: 5px;
}
