.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  gap: 30px;
  padding: 40px 50px;
  margin: auto;
  border-radius: 30px 10px;
  background-color: #8F9FA6;
}

.container__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
}

.container__box {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.container__grid {
  display: grid;
  grid-template-columns: 2fr 200px 200px 2fr;
  gap: 40px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.container__column {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 15px;
  justify-items: center;
}

.button-grid__item {
  grid-column: span 2;
}

.button-grid__item:nth-child(3) {
  grid-column: 2 / span 2;
}

.container__score {
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 1;
}

.container__win {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.container__description {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
}

.img {
  border-radius: 50%;
}

.loser {
  filter: grayscale(100%);
}
