.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  gap: 30px;
  padding: 30px;
  margin: auto;
  border-radius: 30px 10px;
  background-color: #8F9FA6;
}


.img {
  border-radius: 50%;
  border: #F2AC57 4px solid;
  width: 50%;
}
